[project]
	description = Command line tool for Esperanto hatted letter conversion
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joop Kiefte (LaPingvino)
[access "refs/for/refs/*"]
	read = group user/Joop Kiefte (LaPingvino)
	push = group user/Joop Kiefte (LaPingvino)
	label-Code-Review = -2..+2 group user/Joop Kiefte (LaPingvino)
	label-Verified = -1..+1 group user/Joop Kiefte (LaPingvino)
	rebase = group user/Joop Kiefte (LaPingvino)
	removeReviewer = group user/Joop Kiefte (LaPingvino)
	submit = group user/Joop Kiefte (LaPingvino)
[access "refs/heads/*"]
	read = group user/Joop Kiefte (LaPingvino)
	create = group user/Joop Kiefte (LaPingvino)
	push = +force group user/Joop Kiefte (LaPingvino)
	pushMerge = group user/Joop Kiefte (LaPingvino)
[access "refs/tags/*"]
	push = +force group user/Joop Kiefte (LaPingvino)
	pushTag = group user/Joop Kiefte (LaPingvino)
	pushSignedTag = group user/Joop Kiefte (LaPingvino)
